<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="checklist-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `checklist-card`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ChecklistCard extends Polymer.Element {
      static get is() { return 'checklist-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'checklist-card'
          }
        };
      }
    }

    window.customElements.define(ChecklistCard.is, ChecklistCard);
  </script>
</dom-module>
