<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<!-- <link rel="import" href="../polymer/utils/elements/gestures.html"> -->
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">



<dom-module id="checklist-card">
  <template>
    <style>
      /*:host {
        display: block;
      }*/
      .task{
        display: flex;
        align-items: center
      }
      paper-input{
        display: inline-block;
      }
    </style>
    <h1>Todo: </h1>

    <dom-repeat 
    items="{{tasks}}" 
    as="task"
    filter="isNotCompleted"
    observe="completed"
    >
      <template >
        <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="Hola gente?????" no-label-float value="{{task.name}}"></paper-input>
        </div>
<!--         <input type=""  name="">
 -->      </template>
    </dom-repeat>

    
    <h3>Completed:</h3>
    <dom-repeat 
    items="{{tasks}}" 
    as="task"
    filter="isCompleted"
    observe="completed">
      <template >
        <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
        </div>
      </template>
    </dom-repeat>

    <paper-button on-click="addTask">Add Task</paper-button>
  </template>

  <script>
    /**
     * `checklist-card`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ChecklistCard extends Polymer.Element {
      static get is() { return 'checklist-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'checklist-card'
          },
          tasks: {
            type: Array,
            value: ()=> []
          },
          valoresInput: {
            type: String,
            value: 'esto trae algo?'
          }
        };
      }
      addTask(){
        const newTask={
          name:'',
          
          completed:false
        };
        this.push('tasks',newTask);
      }
      isNotCompleted(task){
        console.log('entra?')
        return !task.completed;
      }
      isCompleted(task){
        return task.completed
      }
    }

    window.customElements.define(ChecklistCard.is, ChecklistCard);
  </script>
</dom-module>
